/*****Main Content*****/

#main-content {
  display: flex;
  height: 85vh;
}

/*****Error Message*****/

.error-container {
  margin-top: 20vh;
  text-align: center;
}

.error-container-map {
  width: calc(100% - 250px);
}

.error-msg {
  color: #f00;
}

/*****Media Query*****/

@media screen and (min-width: 600px) {
  #main-content {
    height: 90vh;
  }
}
