/*****Google Map*****/

.google-map {
  position: relative;
  width: calc(100% - 165px);
}

/*fix: redundant class -> same code exists twice!*/
.full-width {
  width: 100%;
}

/*****Media Query*****/

@media screen and (min-width: 600px) {
  .google-map {
    width: calc(100% - 250px);
  }

  .full-width {
    width: 100%;
  }
}
