/*****Header*****/

.page-header {
  background: #F5B34F;
  display: flex;
  color: #fff;
  height: 15vh;
  justify-content: center;
  padding-top: 20px;
}

.hamburger {
  background: #F5B34F;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 40px;
  padding-top: 2px;
  text-align: center;
  width: 50px;
}

.heading {
  margin: 0;
  text-align: center;
  width: 90%;
}

/*****Media Query*****/

@media screen and (min-width: 600px) {
  .page-header {
    height: 10vh;
    padding-top: 20px;
  }
}
