/*****Main Content*****/

#mainContent {
  display: flex;
}

/*****List View*****/


.listView {
  width: 30%;
  height: 100vh;
  padding: 10px;
}

#filter {
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.listItem {
  padding: 10px;
}

.listItem:hover {
  cursor: pointer;
}

.googleMap {
  position: relative;
  width: 70%;
  height: 100vh;
}
