/*****Header*****/
.page-header{
  height: 10vh;
  background: #ccc;
}

.heading {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

/*****Main Content*****/

#main-content {
  display: flex;
  height: 90vh;
}

/*****List View*****/


.list-view {
  width: 40%;
  padding: 10px 10px 0 10px;
  overflow-y: scroll;
}

#searchbox {
  width: 90%;
  margin: 5px 0 0 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.list-item {
  padding: 10px;
}

.list-item:hover {
  cursor: pointer;
}

/*****Google Map*****/

.google-map {
  position: relative;
  width: 100%;
}
