/*****Main Content*****/

#mainContent {
  display: flex;
}

/*****List View*****/


.listView {
  max-width: 250px;
  height: 100vh;
  padding: 0 10px;
  overflow-y: scroll;
}

#searchbox {
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.listItem {
  padding: 10px;
}

.listItem:hover {
  cursor: pointer;
}

.googleMap {
  position: relative;
  width: 100%;
}
